.ly-main
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items center

.title
  width 100%
  text-align center
  padding-bottom 30px
  font-size 3rem
  color white

.icon
  width 100%
  text-align center
  font-size 5rem
  color white

.answer-input-area
  width 100%
  display flex
  justify-content center
  padding-top 30px
  font-size 3rem
  color white

  span
    flex 0 0 auto
    padding-right 10px

  input
    max-width 20rem;
    display inline-block
    flex 0 1 auto
    padding 0 3rem
    font-size 3rem
    border 1px solid #1A8d68
    border-radius 2rem

.show-correct
  padding-top 40px
  text-align center
  color white
  font-size 3rem

.last-result
  color white
  font-size 3rem


.submit-button
  padding-top 40px

  .button
    width 400px
    height 100px
    display flex
    justify-content center
    align-items center
    background-color #1A8d68
    border 1px solid #01744F
    color white
    font-size 3rem
    border-radius 50px

    &:hover
      background-color #34A782
      
