<section class="ly-main" *ngIf="!showLastResult">
  <div class="title">{{answerIndex + 1}}問目</div>
  <div *ngIf="quizzes.length > 0"
        class="icon">
    <i class="fa fa-{{quizzes[answerIndex].id}}"></i>
  </div>
  <div class="answer-input-area">
    <span>fa-</span>
    <input type="text" [(ngModel)]="answerText">
  </div>
  <div class="show-correct" *ngIf="showResult">
    <div *ngIf="isCorrected else mistake">
      <i class="fa fa-circle-o"></i>
      正解です！
    </div>
    <ng-template #mistake>
      <i class="fa fa-times"></i>
      不正解です....
      <div> 答えはfa-{{quizzes[answerIndex].id}}でした。</div>
    </ng-template>
  </div>
  <div class="submit-button" *ngIf="!showResult">
    <span class="button" (click)="clickCheckAnswer()">回答する</span>
  </div>
</section>
<section class="ly-main" *ngIf="showLastResult">
  <div class="last-result">
    {{quizzes.length}}問中{{correctedCount}}問正解でした。
  </div>
  <div class="submit-button">
    <a class="button" href="/">TOPに戻る</a>
  </div>
</section> 
